<launch>
	<!-- Include Robot GUI -->
        <include file="$(find robot_gui)/launch/robot_gui.launch"/>

	<!-- Include Vicon GUI -->
        <include file="$(find vicon_gui)/launch/vicon_gui.launch"/>

	<!-- Include Vision Control -->
        <include file="$(find vision_control)/launch/vision_control.launch"/>
</launch>
